[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Zelda 2D Level Editor
Comment=Level Editor for Zelda2D
Exec=zelda2d-editor
Icon=zelda2d-editor.ico
Terminal=false
Type=Application
Categories=Application;Game;
StartupNotify=true

