[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Zelda 2D
Comment=A Zelda related Jump'n'Run Game in 2D
Exec=zelda2d
Icon=zelda2d.png
Terminal=false
Type=Application
Categories=Application;Game;
StartupNotify=true

