[Desktop Entry]
Encoding=UTF-8
Version=1.2.0
Name=DiskSearch
Type=Application
Comment=
Exec=disksearch
TryExec=disksearch
Path=
Icon=/usr/share/disksearch/resource/disksearch.png
Categories=Application;Utility
