[Desktop Entry]
Type=Application
Name=Floating IPS
MimeType=application/bps-patch;application/ips-patch;
Exec=flips %f
NoDisplay=true
StartupNotify=true
Icon=flips
